:root{
    --darkTheme:#121212;
    --pDB:#3c5aa6;
    --pDY:#c7a008;
    --pB:#2a75bb;
    --pY:#ffcb05;
    --lila:#B6B5D8;

    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;  
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}

*{
    padding: 0;
    margin: 0;
}

.dark, .light{
    transition: color 0.6s ease;
    transition: background-color 0.6s ease;
    transition: border 0.6s ease;
}



#container{
    display: grid;
    position: absolute;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 6fr 1fr;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

header.light{
    background-color: var(--pB);
    color: var(--pY);
    text-shadow: 5px 5px 2px var(--pDB);
}

header.dark{
    background-color: var(--darkTheme);
    color: var(--pY);
    text-shadow: none;
}

header{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding: 0 20px 5px 20px;
    padding-bottom: 5px;
}


nav.light, aside.light{
    background-color: var(--pB);
}

nav.dark, aside.dark{
    background-color: var(--darkTheme);
}


aside{
    padding: 10px;
}

aside h1{
    color: white;
}

aside a{
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkTheme);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }

  input:checked .slider:before {
    background-color: var(--darkTheme);
  }

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--darkTheme);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

aside ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}


aside li{
    margin: 10px 0;
}

nav.light ul li{
    background-color: white;
    border: solid 2px black;
}

nav.light ul li a{
    color: black;
}

nav.dark ul li{
    background-color: var(--darkTheme);
    border: solid 2px white;
    box-shadow: none;
}

nav.dark ul li a{
    color: white;
}

nav ul li{
    height: 50px;
    margin: 15px auto;
    text-align: center;
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 2px var(--pDB);
    transition: background-color 0.6s;
    
    list-style-type: none;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: calc(100% - 6px);
    height: 40px;
    font-weight: bolder;
    transition: color 0.6s;
    padding: 3px;
}


nav ul li:hover{
    background-color: var(--pY);
}

nav ul li:hover > a{
    color: black;
}




.articleTitle{
    height: 1.5em;
    font-size: 2em;
    color: black;
    font-style: italic;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--lila);
    padding-left: 20px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.text.light{
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-color: white;
    color: black;
}

.text.dark{
    border: 2px solid white;
    background-color: var(--darkTheme);
    color: white;
}


.text{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    line-height: 1.5em;
}

.text p{
    text-align: center;
    margin: 10px;
}

.text b{
    font-size: 2em;
}

.text ul{
    padding: 10px;
}

.text li{
    padding: 0 40px;
    margin-bottom: 15px;
    line-height: 1.5em;
    list-style: none;
    background-image: url(./pokemonimg/Poké_Ball_icon.svg.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0% 20%;
}


.separator{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.low{
    background-color: var(--lila);
}

.number{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100%;
    font-size: 2em;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#top1{
    background-color: gold;
}

#top2{
    background-color: silver;
}

#top3{
    background-color:  #bf8970  ;
}


.shine::after{
	content:'';
    top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: relative;
	z-index:1;
	animation: slide 2s infinite;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);

}

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.pokemon{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;

}

.backgroundPKM{
    background-image: url(./pokemonimg/pokeball_wallpaper_by_sailortrekkie92_dga7xfb-fullview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.pokemon span.light p{
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.pokemon span.dark p{
    border: 2px solid white;
    background-color: var(--darkTheme);
    color: white;
}


.pokemon span{
    width: 80%;
    font-size: 1.3em;
    margin-bottom: 20px;
    line-height: 1.3em;
    justify-self: center;
}

.pokemon span p{
    height: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgb(105, 1, 1);
}

.pkmIMG{
    width: 90%;
    justify-self: left;
    filter: drop-shadow(8px 8px 8px rgb(105, 1, 1));
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.types{
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}


.type{
    height: 2em;
    font-size: 1.2em;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border: solid black 2px;
    box-shadow: 5px 5px 10px rgb(105, 1, 1);
}


.fire{
    background-color: var(--fire);
}

.darkType{
    background-color: var(--dark);
    color: white;
}

.water{
    background-color: var(--water);
}

.electric{
    background-color: var(--electric);
}

.flying{
    background-color: var(--flying);
}

.grass{
    background-color: var(--grass);
}

.poison{
    background-color: var(--poison);
}

.fighting{
    background-color: var(--fighting);
}

.ground{
    background-color: var(--ground);
}

.dragon{
    background-color: var(--dragon);
}

.psychic{
    background-color: var(--psychic);
}

.pkmName{
    height: 1.5em;
    font-size: 2em;
    color: black;
    font-style: italic;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    box-shadow: 0px 5px 10px rgb(105, 1, 1);
}


.left .pkmName{
    transform: skew(-45deg);
    justify-content: start;
    margin-left: -40%;
}

.right .pkmName{
    transform: skew(45deg);
    justify-content: end;
    margin-left: 40%;
}

.left .pkmName>div{
    transform: skew(45deg);
    padding-left: 45%;
}

.right .pkmName>div{
    transform: skew(-45deg);
    padding-right: 45%;
    
}

#galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
}

.galleryBtn.light{
    background-color: white;
    border: 2px solid black;
    color:black;
}

.galleryBtn.dark{
    background-color: var(--darkTheme);
    border: 2px solid white;
    color: white;
}

.galleryBtn{
    height: 80px;
    width: 80px;
    font-size: 2em;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
}

.galleryImg.light{
    background-color: white;
    border: 2px solid black;
    color: black;
}

.galleryImg.dark{
    background-color: var(--darkTheme);
    border: 2px solid white;
    color: white;
}

.galleryImg{
    width: calc(100% - 160px);
    height: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    line-height: 1.5em;
    margin-bottom: 20px;
}

.galleryImg img{
    width: 100%;
}

.galleryDesc{
    text-align: center;
}

footer.light{
    background-color: var(--pB);
    color: black;
}

footer.dark{
    background-color: var(--darkTheme);
    color: white;
}

footer{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 20px;
    font-family:sans-serif;
    font-size: 0.75em;
    padding-left: 5px;
}

article{
    width: 100%;
    margin-bottom: 30px;
    height: auto;
}

section{
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body{
    background-image: url(./pokemonimg/pngtree-seamless-pattern-of-pokeball-icon-on-gray-backgroundvector-illustration-vector-png-image_22859508.jpg);
    background-repeat: repeat;
    background-position: bottom left;
    animation: fons 15s linear infinite;
}

@keyframes fons {
    0%{
        background-position: bottom center;
    }


    100%{
        background-position: top center;
    }
}


@media (max-width: 1370px){
    .types{
        margin-top: 20px;
    }
}

@media (max-width: 1160px) {
    nav{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    section{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    nav ul li{
        margin: 0 5px;
        width: auto;
        padding: 0;
        width: 90%;
    }

    aside{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    aside ul{
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-bottom: 10px;
    }

    nav ul li a{
        font-size: 0.9em;
    }

    .pokemon span p{
        font-size: calc(1vw + 1vh);
        line-height: 1em;
    }

    
    .pokemon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left .pokemon{
        flex-direction: column-reverse;
    }

    .pokemon span{
        font-size: 0.8em;
        width: 100%;
    }

    .pkmIMG{
        width: 70%;
    }

    .type{
        font-size: 0.8em;
        width: 75px;
    }

    .types{
        margin-top: 20px;
        width: 170px;
        align-self: center;
    }
}


@media (max-width: 600px) {
    header{
        font-size: 2em;
        height: 75px;
    }
    
    .pkmIMG{
        width: 90%;
    }

    nav ul li{
        margin: 0 5px;
        width: auto;
        padding: 0;
    }

    aside{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    aside ul{
        font-size: 0.8em;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-bottom: 10px;
    }

    nav ul li{
        width: 90%;
        height: 35px;
        padding: 0;
    }

    nav ul li a{
        font-size: 0.7em;
        height: 30px;
    }

    .articleTitle{
        padding-left: 10px;
        font-size: 1.45em;;
    }

    .pkmName{
        font-size: 1em;
    }

    .galleryBtn{
        height: 40px;
        width: 40px;
        font-size: 1em;
        border-radius: 15px;
        box-shadow: 10px 10px 15px rgb(0, 0, 0);
    }
    
    .galleryImg{
        width: calc(100% - 80px);
    }

}